<?xml version='1.0' encoding='utf-8'?>
<widget id="com.flashcards.flashcards" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>flashcards</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Preferencje -->
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="StatusBarBackgroundColor" value="#1a291a" />
    <preference name="AndroidNavigationBarColor" value="#1a291a" />
    <preference name="Orientation" value="portrait" /> <!-- Dodana preferencja orientacji -->

    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />

    <!-- Wtyczki -->
    <plugin name="cordova-plugin-file" spec="^6.0.2" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-simple-file-chooser" spec="^1.0.0" />
    <plugin name="cordova-plugin-filechooser" spec="^1.0.0" />
    <plugin name="cordova-plugin-documentpicker" spec="^1.0.0" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^6.0.3" /> <!-- Dodaj wtyczkę SocialSharing -->

    <!-- Uprawnienia dla Androida -->
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <!-- Uprawnienia są zakomentowane, upewnij się, że masz potrzebne uprawnienia -->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <!-- Jeśli potrzebujesz MANAGE_EXTERNAL_STORAGE, odkomentuj poniższe -->
            <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->
        </config-file>
        <resource-file src="resources/android/values/themes.xml" target="app/src/main/res/values/themes.xml" overwrite="true" />
        <resource-file src="resources/android/values/colors.xml" target="app/src/main/res/values/colors.xml" overwrite="true" />
        <icon src="resources/android/icon/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="resources/android/icon/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="resources/android/icon/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="resources/android/icon/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="resources/android/icon/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="resources/android/icon/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />

        <!-- Splash Screens -->
        <splash src="resources/android/splash/drawable-port-ldpi-screen.png" density="port-ldpi" />
        <splash src="resources/android/splash/drawable-port-mdpi-screen.png" density="port-mdpi" />
        <splash src="resources/android/splash/drawable-port-hdpi-screen.png" density="port-hdpi" />
        <splash src="resources/android/splash/drawable-port-xhdpi-screen.png" density="port-xhdpi" />
        <splash src="resources/android/splash/drawable-port-xxhdpi-screen.png" density="port-xxhdpi" />
        <splash src="resources/android/splash/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi" />
    </platform>
</widget>
