@use "varibles" as vars;

button,
.btn {
  padding: vars.$padding-button;
  background-color: vars.$bg-color-button;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  box-shadow: inset 0 0 10px var(--color-black-opacity-60);
  position: relative;

  &:active:not([disabled]) {
    background-color: #fff;
    color: var(--color-brow);
  }

  &[disabled] {
    opacity: .5;
    cursor: auto;
  }

  &--red {
    background-color: var(--color-red);

    &:active:not([disabled]) {
      background-color: #fff;
      color: var(--color-red);
    }

  }

  &--green {
    background-color: var(--color-green);

    &:active:not([disabled]) {
      background-color: #fff;
      color: var(--color-green);
    }

  }

  &--blue {
    background-color: var(--color-blue);

    &:active:not([disabled]) {
      background-color: #fff;
      color: var(--color-blue);
    }

  }

  sub,
  sup {
    position: absolute;
    right: -3px;
    font-size: 10px;
    display: flex;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    background-color: var(--color-red);
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 6px var(--color-black-opacity-60);
    color: var(--color-white);
    padding-left: 3px;
    padding-right: 3px;
  }

  sup {
    top: -3px;
  }

  sub {
    bottom: -3px;
  }

  &--active {
    font-weight: 700;
    /* text-decoration: underline; */
    background-color: var(--color-card);
    color: var(--color-green-strong-dark);

    sup {
      background-color: var(--color-green);
    }
  }

  &-revers {
    &:not(&--active) {
      sup {
        background-color: var(--color-red) !important;
      }
    }
  }

}