@use "varibles" as vars;

$padding-temp: vars.$padding-smaller;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: white;
}

textarea {
  display: block;
  width: 100%;
  padding: vars.$padding-smaller;
}

input[type=text], select {
  display: block;
  padding: vars.$padding-smaller;
}

select {
  width: 100%;
}

label {
  font-weight: 700;
  display: inline-block;
  margin-bottom: .25rem;
}

p, textarea, input {
  font-size: 14px;
}

h2, h3, h4, h5, h6 {
  font-size: 18px;
}

h2, h3, h4, h5, h6, p, .o-default-box {
  &:not(:last-child) {
    margin-bottom: vars.$padding-default;
  }
}

hr {
  border: 1px solid var(--color-white-opacity-40);
  border-bottom: none;
  margin-bottom: vars.$padding-default;
  margin-top: 0;
  width: 100%;
}

.d-flex {
  display: flex;
}

.gap-1 {
  gap: vars.$padding-default;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.white-space-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pointer-events-none {
  pointer-events: none;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.position-relative {
  position: relative;
}

.vertical-center-count {
  //border: 1px solid lime;
  bottom: auto;
  top: 50%;
  translate: 0 -50%;
}

.text-shadow-white {
  text-shadow: 0 0 2px var(--color-white);
}

.color-white:not(:active) {
  color: var(--color-white) !important;
}

.color-green-strong-dark:not(:active) {
  color: var(--color-green-strong-dark) !important;
}

.color-red:not(:active) {
  color: var(--color-red) !important;
}

.color-green:not(:active) {
  color: var(--color-green) !important;
}

.color-green-dark:not(:active) {
  color: var(--color-green-dark) !important;
}

.color-brow:not(:active) {
  color: var(--color-brow) !important;
}

.color-cream:not(:active) {
  color: var(--color-cream) !important;
}

.bg-color-red:not(:active) {
  background-color: var(--color-red) !important;
}

.bg-color-green:not(:active) {
  background-color: var(--color-green) !important;
}

.bg-color-green-dark:not(:active) {
  background-color: var(--color-green-dark) !important;
}

.bg-color-brow:not(:active) {
  background-color: var(--color-brow) !important;
}

.bg-color-cream:not(:active) {
  background-color: var(--color-cream) !important;
}

.bg-color-green-strong-dark:not(:active) {
  background-color: var(--color-green-strong-dark) !important;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: vars.$max-content;
  margin: 0 auto;
  overflow-x: hidden;
}

.o-list-buttons {
  display: flex;
  gap: vars.$padding-smaller;
  flex-wrap: wrap;
  padding: vars.$padding-smaller;
  background-color: var(--color-black-opacity-30);
  align-items: center;
}

.o-list-buttons-clear {
  display: flex;
  gap: vars.$padding-smaller;
  flex-wrap: wrap;
  align-items: center;

  & &__single-icon {
    flex: none;
  }

  &--nowrap {
    flex-wrap: nowrap;
    white-space: nowrap;

    li {
      flex: 1;

      button {
        width: 100%;
      }
    }
  }

  //&__single-icon--restart {
  //  position: absolute;
  //  bottom: -80px;
  //  left: 10px;
  //  button {
  //    background-color: transparent;
  //    box-shadow: none;
  //    color: var(--color-black);
  //    opacity: .3;
  //    font-size: 20px;
  //  }
  //}
}

.ml-auto {
  margin-left: auto;
}

.o-list-buttons-3-cols {
  display: grid;
  gap: vars.$padding-smaller;
  grid-template-columns: repeat(3, 1fr);

  button {
    width: 100%;
    height: 100%;
  }

  &:not(:last-child) {
    margin-bottom: vars.$padding-default;
  }
}

.o-list-edit-flashcards {
  display: flex;
  flex-direction: column;
  gap: vars.$padding-default;

  > li {
    background-color: var(--color-white-opacity-20);
    display: flex;
    flex-direction: column;
  }

  &__content {
    padding: vars.$padding-smaller;
  }
}

.o-list-categories {
  display: flex;
  flex-direction: column;
  gap: vars.$padding-default;

  button {
    width: 100%;
    text-align: left;
  }

  > li {
    position: relative;
  }

  &--edit {
    > li {
      button {
        padding-right: 70px;
      }
    }
  }

  &__move {
    position: absolute;
    top: 24px;
    transform: translate(0, -50%);
    right: 24px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -1000px;
    display: block;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-white);
      content: '';
      display: block;
    }

    &::before {
      top: 15px;
    }

    &::after {
      bottom: 15px;
    }
  }

  .o-list-categories {
    padding-bottom: vars.$padding-default;
    padding-top: vars.$padding-default;
    border-bottom: 1px solid var(--color-white-opacity-20);
  }
}

.o-list-flashcards {
  position: relative;
  flex: 1;

  &__lang {
    white-space: nowrap;
    opacity: .5;

    &-code {
      font-size: 10px;
      vertical-align: middle;
      display: inline-block;
    }
  }

  &__single-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-card);
    flex-direction: column;
    padding: vars.$padding-smaller;
    border-radius: 12px;
    display: none;
    color: var(--color-green-strong-dark);
    overflow-y: auto;
    overflow-x: hidden;

    button {
      font-weight: 700;
    }

    hr {
      border-color: var(--color-black-opacity-20);
    }

    &:last-child,
    &:first-child {
      box-shadow: 0 0 6px var(--color-black-opacity-50);
    }

    &:first-child,
    &:nth-last-child(-n+3) {
      display: flex;
    }

    &:nth-last-child(-n+3) {
      display: flex;
      box-shadow: 0 0 6px var(--color-black-opacity-50), inset 0 0 15px var(--color-black-opacity-80);
    }
  }

  &__know {
    margin-top: auto;

    &-check {
      width: 100%;
    }

    .o-list-buttons-clear li {
      flex: 0 0 calc(50% - ($padding-temp / 2));
      align-self: stretch;

      button {
        width: 100%;
        height: 100%;
      }

      &.o-button-single-edit {
        position: absolute;
        top: -60px;
        left: 0;
        z-index: 9;
      }

      &.o-button-single-check {
        width: 100%;
        flex: unset;
      }
    }
  }

  &__text {
    p {
      text-align: center;
      font-size: 18px;
    }

    &:nth-child(2) {
      p {
        font-size: 22px;
      }
    }
  }

  &__swipe-info-learn,
  &__swipe-info-know {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 12px;
    border: 0.2rem solid;
    padding: vars.$padding-smaller;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    translate: -50% -50%;
    transition: opacity 200ms ease-in-out;
    text-align: center;

    &--visible {
      opacity: .3;
    }

    p {
      font-size: 16px;
    }
  }

  &__swipe-info-know {
    color: var(--color-green);
    border-color: var(--color-green);
    rotate: 45deg;
  }

  &__swipe-info-learn {
    color: var(--color-red);
    border-color: var(--color-red);
    rotate: -45deg;
  }

  &__swipe-info-know-or-learn {
    opacity: 0.3;
    margin: -#{vars.$padding-default} -#{vars.$padding-default} #{vars.$padding-default};
    border-bottom: 1px solid var(--color-black-opacity-60);
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    height: 12px;
    //font-size: 14px;
    //font-weight: 700;
  }
}

.o-page-view-flashcards {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  flex: 1;
  gap: vars.$padding-default;

  &__content {
    height: 100%;
    flex: 1;
    display: flex;
  }

  &__title {
    // white-space: nowrap;
    overflow: hidden;
    width: 100%;

    &-categories{
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__tools {
    //overflow-x: auto;
    position: relative;
    button sup {
      background-color: var(--color-green);
    }
  }
}

.o-fade-hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.o-page-edit-flashcard-list {
  .o-list-categories--edit > li .btn-super-category {
    cursor: default;
    text-align: left;
    margin-bottom: 0;
    padding-right: 80px;

    &:active {
      background-color: var(--color-brow);
      color: var(--color-white);
    }

    &::after {
      display: none;
    }
  }
}

.o-search {
  &--fixed {
    position: fixed;
    z-index: 996;
    top: 50px;
    background-color: var(--color-green-less-dark);
    padding: vars.$padding-smaller;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 6px var(--color-black);

    .o-list-buttons-3-cols {
      display: flex;
      // justify-content: space-evenly;
      button span {
        display: none;
      }
    }
  }

  &-wrap {
    min-height: 108px;
    padding-bottom: vars.$padding-smaller;
  }
}

.o-card-lock {
  i {
    position: relative;
    top: -#{vars.$padding-smaller};
    left: #{vars.$padding-smaller};
    opacity: .3;
    display: inline-block;
    scale: 1.5;
  }
}

