@use "varibles" as vars;

$padding-temp: vars.$padding-smaller;

#splashscreen {
  display: none;
}

body {
  font-family: Arial, sans-serif; // -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  // Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: white;
}

textarea {
  display: block;
  width: 100%;
}

input[type=text], input[type=search], select, textarea {
  display: block;
  padding: vars.$padding-smaller;
  border-radius: 6px;
}

select {
  width: 100%;
}

label {
  font-weight: 700;
  display: inline-block;
  margin-bottom: .25rem;
}

p, textarea, input, select {
  font-size: 16px;
}

h2, h3, h4, h5, h6 {
  font-size: 18px;
}

h2, h3, h4, h5, h6, p, .o-default-box {
  &:not(:last-child) {
    margin-bottom: vars.$padding-default;
  }
}

hr {
  border: 1px solid var(--color-white-opacity-40);
  border-bottom: none;
  margin-bottom: vars.$padding-default;
  margin-top: 0;
  width: 100%;
}

.mt-1 {
  margin-top: vars.$padding-default !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}

.justify-content-right {
  justify-content: end !important;
}

.gap-1 {
  gap: vars.$padding-default;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.text-center {
  text-align: center !important;
}

.white-space-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pointer-events-none {
  pointer-events: none;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.position-relative {
  position: relative;
}

.vertical-center-count {
  //border: 1px solid lime;
  bottom: auto;
  top: 50%;
  translate: 0 -50%;
}

.text-shadow-white {
  text-shadow: 0 0 2px var(--color-white);
}

.color-white:not(:active) {
  color: var(--color-white) !important;
}

.color-green-strong-dark:not(:active) {
  color: var(--color-green-strong-dark) !important;
}

.color-black:not(:active) {
  color: var(--color-black) !important;
}

.color-red:not(:active) {
  color: var(--color-red) !important;
}

.color-green:not(:active) {
  color: var(--color-green) !important;
}

.color-green-dark:not(:active) {
  color: var(--color-green-dark) !important;
}

.color-brow:not(:active) {
  color: var(--color-brow) !important;
}

.color-cream:not(:active) {
  color: var(--color-cream) !important;
}

.bg-color-red:not(:active) {
  background-color: var(--color-red) !important;
}

.bg-color-red-opacity-03:not(:active) {
  background-color: var(--color-red-opacity-03) !important;
}

.bg-color-green:not(:active) {
  background-color: var(--color-green) !important;
}

.bg-color-green-dark:not(:active) {
  background-color: var(--color-green-dark) !important;
}

.bg-color-green-dark-opacity-03:not(:active) {
  background-color: var(--color-green-dark-opacity-03) !important;
}

.bg-color-brow:not(:active) {
  background-color: var(--color-brow) !important;
}

.bg-color-cream:not(:active) {
  background-color: var(--color-cream) !important;
}

.bg-color-green-strong-dark:not(:active) {
  background-color: var(--color-green-strong-dark) !important;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: vars.$max-content;
  margin: 0 auto;
  overflow-x: hidden;
}

.o-checkbox {
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  &__icon {
    display: none;
  }

  input[type="checkbox"] {
    display: none;
    &:checked + .o-checkbox__icon {
      display: inline-block;
    }
  }
}

.o-list-buttons {
  display: flex;
  gap: vars.$padding-smaller;
  flex-wrap: wrap;
  padding: vars.$padding-smaller;
  background-color: var(--color-black-opacity-40);
  align-items: center;
}

.flex-none {
  flex: none !important;
}

.o-list-buttons-clear {
  display: flex;
  gap: vars.$padding-smaller;
  flex-wrap: wrap;
  align-items: stretch;

  & &__single-icon {
    flex: none;
    flex-direction: column;
    justify-content: center;
    width: 56px;
    padding-left: 4px;
    padding-right: 4px;

    i {
      margin-right: 0;
    }

    span {
      display: block;
      font-size: 9px;
    }
  }

  &--nowrap {
    flex-wrap: nowrap;
    white-space: nowrap;

    li {
      flex: 1;
      white-space: normal;

      .btn--icon {
        height: 52px;
      }

      button {
        width: 100%;
      }
    }
  }

  &--nowrap-columns {
    flex-wrap: nowrap;
    li {
      flex: 1;
      align-self: stretch;

      button {
        width: 100%;
        height: 100%;
      }
    }
  }

  //&__single-icon--restart {
  //  position: absolute;
  //  bottom: -80px;
  //  left: 10px;
  //  button {
  //    background-color: transparent;
  //    box-shadow: none;
  //    color: var(--color-black);
  //    opacity: .3;
  //    font-size: 20px;
  //  }
  //}
}

.ml-auto {
  margin-left: auto;
}

.o-list-buttons-3-cols {
  display: grid;
  gap: vars.$padding-smaller;
  grid-template-columns: repeat(3, 1fr);

  button {
    width: 100%;
    height: 100%;
  }

  &:not(:last-child) {
    margin-bottom: vars.$padding-default;
  }
}

.o-card {
  background-color: var(--color-card); // var(--color-white-opacity-20);
  color: var(--color-green-strong-dark);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 6px var(--color-black-opacity-50), inset 0 0 15px var(--color-black-opacity-80);

  hr {
    border-top: 1px solid var(--color-black-opacity-20);
  }

  input[type=text] {
    width: 100%;
  }

  input[type=text], select, textarea {
    background-color: var(--color-white-opacity-60);
  }

  &__content {
    padding: vars.$padding-smaller;

    &-edit {
      background-color: var(--color-white-opacity-20);
      padding: vars.$padding-default;
      border-radius: 6px;
      text-align: center;
      font-size: 18px;
    }
  }
}

.o-list-edit-flashcards {
  display: flex;
  flex-direction: column;
  gap: vars.$padding-default;

  &--edit-state {
    .o-card {
      opacity: .2;
      pointer-events: none;

      &--active {
        display: block;
        opacity: 1;
        pointer-events: unset;
      }
    }
  }

  //> li {
  //  background-color: var(--color-card); // var(--color-white-opacity-20);
  //  color: var(--color-green-strong-dark);
  //  display: flex;
  //  flex-direction: column;
  //  overflow: hidden;
  //  border-radius: 12px;
  //  box-shadow: 0 0 6px var(--color-black-opacity-50), inset 0 0 15px var(--color-black-opacity-80);
  //
  //  hr {
  //    border-top: 1px solid var(--color-black-opacity-20);
  //  }
  //
  //  input[type=text] {
  //    width: 100%;
  //  }
  //
  //  input[type=text], select, textarea {
  //    background-color: var(--color-white-opacity-60);
  //  }
  //}
  //
  //&__content {
  //  padding: vars.$padding-smaller;
  //}
}

.o-list-categories {
  display: flex;
  flex-direction: column;
  gap: vars.$padding-default;

  button {
    width: 100%;
    text-align: left;
    justify-content: left;
    box-shadow: 0 0 8px var(--color-black-opacity-80), inset 0 0 10px var(--color-black-opacity-60);
  }

  > li {
    position: relative;
  }

  &--edit {
    > li {
      button {
        padding-right: 70px;
      }
    }
  }

  &__move {
    position: absolute;
    top: 24px;
    transform: translate(0, -50%);
    right: 24px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -1000px;
    display: block;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-white);
      content: '';
      display: block;
    }

    &::before {
      top: 15px;
    }

    &::after {
      bottom: 15px;
    }
  }

  .o-list-categories {
    padding-bottom: vars.$padding-default;
    padding-top: vars.$padding-default;
    border-bottom: 1px solid var(--color-white-opacity-20);
    .o-list-categories__move {
      &::before, &::after {
        background-color: var(--color-green-strong-dark);
      }
    }
  }
}

.o-list-flashcards {
  position: relative;
  flex: 1;

  &__lang {
    white-space: nowrap;
    opacity: .5;

    &-code {
      font-size: 10px;
      vertical-align: middle;
      display: inline-block;
    }
  }

  &__single-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.5) 100%), var(--color-card);

    flex-direction: column;
    padding: vars.$padding-smaller;
    border-radius: 12px;
    display: none;
    color: var(--color-green-strong-dark);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 6px var(--color-black-opacity-50);

    button {
      font-weight: 700;
    }

    hr {
      border-color: var(--color-black-opacity-20);
    }

    &:first-child,
    &:nth-last-child(-n+2) {
      display: flex;
    }

    &:nth-last-child(-n+2) {
      display: flex;
      // box-shadow: 0 0 6px var(--color-black-opacity-50), inset 0 0 15px var(--color-black-opacity-80);

      //&::before {
      //  content: '';
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  right: 0;
      //  bottom: 0;
      //  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.5) 100%);
      //  pointer-events: none;
      //}
    }

    //&--active {
    //  &:last-child {
    //    display: flex;
    //    box-shadow: none;
    //    border: 1px solid var(--color-black-opacity-10);
    //  }
    //
    //}
  }

  &__know {
    margin-top: auto;

    &-check {
      width: 100%;
    }

    .o-list-buttons-clear li {
      flex: 0 0 calc(50% - ($padding-temp / 2));
      align-self: stretch;

      button {
        width: 100%;
        height: 100%;
      }

      &.o-button-single-edit {
        position: absolute;
        top: -60px;
        left: 0;
        z-index: 9;
      }

      &.o-button-single-check {
        width: 100%;
        flex: unset;
      }


    }
  }

  &__text {
    p {
      text-align: center;
      font-size: 18px;
    }

    &:nth-child(2) {
      p {
        font-size: 22px;
      }
    }
  }

  &__swipe-info-learn,
  &__swipe-info-know {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 12px;
    border: 0.2rem solid;
    padding: vars.$padding-smaller;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    translate: -50% -50%;
    transition: opacity 200ms ease-in-out;
    text-align: center;

    &--visible {
      opacity: .3;
    }

    p {
      font-size: 16px;
    }
  }

  &__swipe-info-know {
    color: var(--color-green);
    border-color: var(--color-green);
    rotate: 45deg;
  }

  &__swipe-info-learn {
    color: var(--color-red);
    border-color: var(--color-red);
    rotate: -45deg;
  }

  &__swipe-info-know-or-learn {
    opacity: 0.3;
    margin: -#{vars.$padding-default} -#{vars.$padding-default} #{vars.$padding-default};
    border-bottom: 1px solid var(--color-black-opacity-60);
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    height: 12px;
    //font-size: 14px;
    //font-weight: 700;
  }
}

.o-page-view-flashcards {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  flex: 1;
  gap: vars.$padding-default;

  &__content {
    height: 100%;
    flex: 1;
    display: flex;
  }

  &__title {
    // white-space: nowrap;
    overflow: hidden;
    width: 100%;

    &-categories{
      text-decoration: underline;
      cursor: pointer;
      padding: 0;
      min-height: unset;
      box-shadow: unset;
      border-radius: unset;
      background-color: unset;
      font-weight: 700;
      font-size: 18px;
    }
  }

  &__tools {
    //overflow-x: auto;
    position: relative;
    button sup {
      background-color: var(--color-green);
    }
  }
}

.o-fade-hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.o-page-edit-flashcard-list {
  .o-list-categories--edit > li .btn-super-category {
    text-align: left;
    margin-bottom: 0;
    padding-right: 100px;
    justify-content: left;

    &:active {
      background-color: var(--color-brow);
      color: var(--color-white);
    }

    &::after {
      right: 76px;
    }
  }
}

.o-search {
  &--fixed {
    position: fixed;
    z-index: 996;
    top: 56px;
    background-color: var(--color-green-less-dark);
    padding: vars.$padding-smaller;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 6px var(--color-black);

    .o-list-buttons-3-cols {
      display: flex;
      // justify-content: space-evenly;
      button span {
        display: none;
      }
    }
  }

  &-wrap {
    min-height: 52px;
    padding-bottom: vars.$padding-smaller;
  }
}

.o-card-lock {
  i {
    position: relative;
    top: -#{vars.$padding-smaller};
    left: #{vars.$padding-smaller};
    opacity: .3;
    display: inline-block;
    scale: 1.5;
  }
}

.o-preloader {
  background-color: black;
  position: fixed;
  inset: 0;
  z-index: 9999999;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: vars.$padding-smaller;

  p {
    padding-bottom: vars.$padding-smaller;
    text-align: center;
    font-size: 18px;

    i {
      font-size: 60px;
      display: block;
    }
  }

  &__progress-bar {
    width: 220px;
    max-width: 100%;
    height: 8px;
    background-color: var(--color-white-opacity-60);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }

  &__progress-bar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: var(--color-blue);
    animation: loading 2s linear infinite;
  }
}

.o-list-categories .o-button-add-flashcard {
  button {
    padding-right: vars.$padding-default;
    position: relative;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: calc(#{$padding-temp}/2);
    background-color: transparent;
    z-index: 1;
    pointer-events: none;
    border-radius: 4px;
    border: 1px dotted var(--color-black);
  }
}

.o-text-input-with-clear {
  position: relative;
  &__button-clear {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 0;
  }

  &--active {
    input[type=text] {
      width: calc(100% - (#{$padding-temp} + 54px)) !important;
    }
  }
}

html[dir=rtl] {
  .o-text-input-with-clear__button-clear {
    left: 0;
    right: auto;
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}