@use "varibles" as vars;

.o-main-header {
  background-color: var(--color-green-less-dark);
  padding: 0 vars.$padding-default;
  height: 56px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: vars.$max-content;
  width: 100%;
  box-shadow: 0 0 6px var(--color-black);
  z-index: 999;

  h1 {
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    display: flex;
    gap: 4px;
    overflow: hidden;
    padding: 4px 0 4px 4px;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      font-weight: 700;
      color: var(--color-white);
      text-decoration: none;
      display: inline-flex;

      strong {
        margin-left: -6px;

        &:first-letter {
          color: transparent;
        }
      }

      i::before {
        scale: 1.6;
        color:  #e9a400;
      }
    }
  }

  &__btn-search,
  &__btn-audio {
    padding: calc(#{vars.$padding-default} / 2);
    background-color: transparent;
    box-shadow: none;
    min-height: 40px;
  }

  &__btn-search {
    margin-right: -8px;
  }

  &__btn-audio {
    position: relative;
    margin-left: auto;
    &:not(&--active) {
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: 2px solid var(--color-red);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 24px;
        height: 2px;
        background-color: var(--color-red);
      }
    }
  }

  &__btn-menu {
    //margin-left: auto;
    position: relative;
    right: -8px;
    width: 32px;
    height: 32px;
    min-height: unset;
    background-color: transparent;
    z-index: 1000;
    box-shadow: none;

    &:active:not([disabled]) {
      background-color: var(--color-white-opacity-10);
    }

    span,
    &::after,
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      background-color: var(--color-white);
      left: 50%;
      translate: -50% 0;
      transition: rotate 200ms ease-in-out, translate 200ms ease-in-out;
    }

    span {
      overflow: hidden;
      font-size: 1px;
      text-indent: -1000px;
      top: 50%;
      translate: -50% -50%;
    }

    &::before {
      top: 7px;
    }

    &::after {
      bottom: 7px;
    }

    &--active {
      &::before {
        rotate: 45deg;
        translate: -2px 7px;
      }
      &::after {
        rotate: -45deg;
        translate: -2px -7px;
      }
      &::after,
      &::before {
        scale: 5 1;
        border-radius: 0;
      }
    }
  }

  &__menu {
    position: absolute;
    right: 0;
    top: 56px;
    translate: 100% 0;
    transition: translate 200ms ease-in-out, opacity 200ms ease-in-out;
    background-color: var(--color-green-less-dark);
    opacity: 0;
    pointer-events: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 240px;
    box-shadow: -1px 3px 6px var(--color-black-opacity-50);
    overflow-y: auto;
    max-height: calc(100vh - 50px);
    visibility: hidden;

    &-langs {
      label {
        white-space: nowrap;
      }
    }

    li, p, label {
      font-size: 16px;

      a {
        text-decoration: none;
        color: var(--color-white);
      }
    }

    &--active {
      translate: 0;
      opacity: 1;
      pointer-events: visible;
      visibility: visible;
    }
    > div {
      display: flex;
      padding: vars.$padding-default;
      gap: vars.$padding-default;
      align-items: center;

      select {
        margin-left: auto;
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
    }
    > nav ul {
      display: flex;
      flex-direction: column;
      padding: .25rem 0;
      a {
        display: block;
        padding: .75rem vars.$padding-default;

        &:active {
          background-color: var(--color-white-opacity-10);
        }
      }
    }
    > nav,
    > div {
      border-top: 1px solid var(--color-green-strong-dark);
    }
  }
}

.o {
  &::before {
    content: '';
    display: block;
    z-index: 997;
    //background-color: var(--color-black-opacity-60);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
    background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, .6) 0%,
                    rgba(0, 0, 0, .6) 75%,
                    rgba(0, 0, 0, .1) 100%
    );
  }
}

.o-menu-visible {
  &::before {
    opacity: 1;
    pointer-events: visible;
  }
}